[*.cs]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.private_members_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_members_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion

# Symbol specifications

dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

# Naming styles

dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

# IDE

dotnet_analyzer_diagnostic.category-Style.severity = none
dotnet_analyzer_diagnostic.category-CodeQuality.severity = none
dotnet_diagnostic.IDE1006.severity = error

## This rules is not included in the above rules.

dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.IDE0040.severity = none
dotnet_diagnostic.IDE0052.severity = none # https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/categories#style-rules
dotnet_diagnostic.IDE0160.severity = none

# Stylecop

dotnet_analyzer_diagnostic.category-StyleCop.CSharp.AlternativeRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.LayoutRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.MaintainabilityRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.NamingRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.ReadabilityRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpacingRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpecialRules.severity = none
dotnet_diagnostic.SA0001.severity = none # This rule is not included in the above rules.
dotnet_diagnostic.SA1122.severity = error # Use String Empty For Empty Strings
